.movie_search_card {
    width: 282px;
    height: 500px;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 12px;
}

.movie_search_img {
    width: 266px;
    height: 400px;
}
.movie_search_title {
    width: 260px;
}
.text-truncate.movie_search_title {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .movie_search_card {
        width: 141px;
        height: 270px;
    }
    .movie_search_img {
        width: 133px;
        height: 200px;
    }
    .movie_search_title {
        width: 130px;
    }
}